@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

/* Custom scrollbar hiding */
body::-webkit-scrollbar,
.card::-webkit-scrollbar {
  display: none;
}

/* Custom keyframes for loading animation */
@keyframes pulse-custom {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.4;
  }
}

.weather {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

/* Loading state styles */
.weather.loading .temp {
  background-color: rgba(230, 230, 230, 0.142);
  border-radius: 5px;
  height: 72px;
  width: 50%;
}

.weather.loading .min,
.weather.loading .max,
.weather.loading .humidity,
.weather.loading .wind,
.weather.loading .visibility,
.weather.loading .pressure {
  background-color: rgba(230, 230, 230, 0.142);
  border-radius: 5px;
  width: 5rem;
  height: 24px;
}

.weather.loading .icon {
  background-color: rgba(230, 230, 230, 0.142);
  height: 100px;
  aspect-ratio: 3 / 2;
  border-radius: 5px;
  margin: 50px;
}

.weather.loading .feel {
  background-color: rgba(230, 230, 230, 0.142);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 24px;
  width: 120px;
}

.weather.loading .description {
  background-color: rgba(230, 230, 230, 0.142);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 20px;
  width: 120px;
}

.weather.loading .city {
  background-color: rgba(230, 230, 230, 0.142);
  border-radius: 5px;
  height: 36px;
  width: 200px;
}

/* .weather.loading .line1 {
  background-color: rgba(230, 230, 230, 0.142);
  border-radius: 5px;
  height: 2rem;
  width: 8rem;
  margin: 0 auto;
}

.weather.loading .line2 {
  background-color: rgba(230, 230, 230, 0.142);
  border-radius: 5px;
  height: 1.5rem;
  width: 10rem;
  margin: 0.5rem auto 0;
} */

.weather.loading .city,
.weather.loading .temp,
.weather.loading .icon,
.weather.loading .description,
.weather.loading .feel,
.weather.loading .min,
.weather.loading .max,
.weather.loading .humidity,
.weather.loading .wind,
/* .weather.loading .line1, */
/* .weather.loading .line2, */
.weather.loading .visibility,
.weather.loading .pressure {
  animation: pulse-custom 1.5s infinite ease;
  color: transparent !important;
}

.weather .advanced-data img {
  opacity: 0.5;
  margin-right: 7px;
}
.weather.loading .advanced-data img {
  display: none;
}
